.App {
  width: 90%;
  margin: 2%;
}

.post {
  height: relative;
  width: 70%;
  text-align: left;
}

.icon {
  cursor: pointer;
  width: 5%;
  float: right;
}

.title {
  font-size: 20px;
  font-weight: bold;
}